// =========================================
// TIPOGRAFIA GLOBAL - Open Sauce One
// =========================================

:root {
  --ion-font-family: 'Open Sauce One', sans-serif;

  --bg-main: #161B22;
  --bg-card: #21262d;
  --primary: #96B4EA;
  --text-main: #F2F2F2;
  --text-sec: #9eaab5;
  --border-color: rgba(255, 255, 255, 0.06);
  --glass-bg: rgba(22, 27, 34, 0.82);

  --ion-background-color: var(--bg-main);
  --ion-text-color: var(--text-main);
  --ion-color-primary: var(--primary);
  --ion-color-primary-contrast: var(--bg-main);
  --ion-item-background: var(--bg-card);
  --ion-toolbar-background: var(--bg-main);
  --ion-card-background: var(--bg-card);
  color-scheme: dark;
}

body,
ion-app {
  font-family: 'Open Sauce One', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}
