<ion-tabs>
  <ion-tab-bar slot="bottom" color="none" class="floating-pill-tabs">
    <ion-tab-button tab="ruta" href="/tabs/ruta">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manifest" href="/tabs/manifest">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Ruta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-rutas" href="/tabs/mis-rutas">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Mis Rutas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
