<ion-tabs>

  <ion-tab-bar slot="bottom" class="floating-pill-tabs">
    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutas">
      <ion-icon name="git-network-outline"></ion-icon>
      <ion-label>Rutas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
